<header>
  <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo"><i class="material-icons">cloud</i>Guardian Angel</a>
      <ul id="nav-mobile" class="right">
        <li><a href='/register' class="waves-effect waves-light btn">Register</a></li>
        <li><a href='/login' class="waves-effect waves-light btn">Login</a></li>
      </ul>
    </div>
  </nav>
  </div>
</header>
<main>
  <div class="parallax-container">
    <div class="parallax"><img src="../public/img/lost.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Guardian Angel</h2>
      <p class="grey-text text-darken-3 lighten-3">This is where we talk about how scary a lost child is and how
        Guardian Angel can help</p>
      <p class="grey-text text-darken-3 lighten-3">Some more talking points, a tutorial about how it works</p>
      <p class="grey-text text-darken-3 lighten-3">Really interesting stuff here, better keep reading...</p>
      <p class="grey-text text-darken-3 lighten-3">OMG THE MOM IS SO HAPPY!</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="../public/img/found.png"></div>
  </div>
</main>
<script>$(function() {
  $('#ftr').css('margin-top', 0);
});
</script>