<header>
  <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo"><i class="material-icons">cloud</i>Guardian Angel</a>
      <ul id="nav-mobile" class="right">
        <li><a href='/register' class="waves-effect waves-light btn">Register</a></li>
        <li><a href='/login' class="waves-effect waves-light btn">Login</a></li>
      </ul>
    </div>
  </nav>
  </div>
</header>
<main>
  <div class="parallax-container">
    <div class="parallax"><img src="../public/img/lost.jpg"></div>
  </div>
  <div class="section blue-grey lighten-5">
    <div class="row container">
      <h2 class="header">Guardian Angel</h2>
      <p class="grey-text text-darken-3 lighten-3">Every year millions of children get lost, stolen or kidnapped worldwide.  In the United States alone, the Department of Justice reported 800,000 missing children cases and with the continued rise of populations throughout the world, as well as the increased population density within cities, the risks only grow greater.</p>
      <p class="grey-text text-darken-3 lighten-3">In the unimaginable situation of your child going missing, it is incredibly important to have information regarding their last known location.  The more up to date this information is the more likely your child will be found and returned safely.  </p>
      <p class="grey-text text-darken-3 lighten-3">Guardian Angel is a system designed to help with this key piece of information for recovery.  With a simple wearable device, Guardian Angel securely tracks and saves location information regarding your child that you can then access and download.  On top of this, the device also tracks your child’s heart rate, which could help inform those who are looking of the time and place of particularly important events.</p>
      <p class="grey-text text-darken-3 lighten-3"> Guardian Angel is a simple system with a powerful effect that can bring peace of mind to you and your family. </p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="../public/img/found.png"></div>
  </div>
</main>
<footer class="page-footer" id='ftr'>
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Guardian Angel</h5>
        <p class="grey-text text-lighten-4">Signing up for an account is easy.  Just click 'register', fill out your information and give your child the
          Guardian Angel they deserve.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Support</h5>
        <ul>
          <li><a class="white-text" href="#!">Owners Manual</a></li>
          <li><a class="white-text" href="#!">Warranty</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li><a class="white-text" href="#!">888-888-8888</a></li>
          <li><a class="white-text" href="#!">emailname@host.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Find on <a class="orange-text text-lighten-3" href="https://github.com/rsrobinett/GuardianAngel">Github</a>
    </div>
  </div>
</footer>
<script>$(function() {
  $('#ftr').css('margin-top', 0);
});
</script>