<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper container">
        <a href="/location" class="brand-logo"><i class="material-icons">cloud</i>Guardian Angel</a>
        <ul id="nav-mobile" class="right">
          <li><a href="/location"><i class="material-icons right">person_pin</i>Location</a></li>
          <li><a href="/history"><i class="material-icons right">history</i>History</a></li>
          <li><a href="/logout"><i class="material-icons right">input</i>Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<main id='main-location'>
  <div name='{{latitude}} {{longitude}} {{heartrate}} {{datatime}}' id="map"></div>
</main>
<div class="navbar">
  <nav>
    <div class="nav-wrapper container">
      <a href="/location" class="brand-logo center"><i class="material-icons">av_timer</i></a>
    </div>
  </nav>
</div>
<script src='../public/js/location.js'></script>

