table, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
table {
    border-spacing: 5px;
}
.navbar-header{
  padding: 20px 80px;
}

nav {
  background-color: #33D2FF;
}

.nav.navbar-nav li a {
  background-color: #33C3FF;
    color: black;
    font-weight: bold;
    height: 50px;
    margin-top: 20px;
    margin-right: 35px;
    border-radius: 10px;
}
.nav li a {
  background-color: #33D3FF;
    color: black;
    font-weight: bold;
    height: 40px;
    width: 150px;
    float: right;
    text-align: center;
    border-radius: 10px;
}

.nav li {
  padding-top: 5px;
}

.nav li a:hover {
  background-color: #33B2FF;
}

.nav.navbar-nav.navbar-right li {
  color: black;
  margin-top: 55px;
}

.navbar-brand {
  color: black;
  font-size: xx-large;
}

.navbar-brand:hover {
  color: black;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: #33B2FF;
    color: black;
}

form {
  padding-left: 30px;
}

#map {
  height: 400px;
  width: 100%;
}