.card-panel {
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #eceff1;
}

.main-form {
  background-image: url("./bgsu.jpg");
}

#ftr {
  margin-top: 0;
}

#login-expand {
  height: 700px;
}

.main-padding {
  padding-bottom: 20px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

#main-location {
  height: 1px;
}

#map {
  height: 100%;
}

#location-refresh {
  font-size: 12px;
}
.body-container {
  margin-top: 30px;
}

#pano{
   height: 500px;
   width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#hmap {
  height: 300px;
}

.cap {
  text-transform: capitalize;
}

.map-header{
  color: #ee6e73;
  font-weight: 300;
}

